@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

/*NAVEGACION*/

nav{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 5px 1px;
}
.nav-center{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 10px 50px;
}

.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding: 5px;
    transition: 0.2s border-bottom;
}

.nav-links li a:hover{
    border-bottom: 2px solid black;
}

/*CONTENIDO*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
}

button{
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    border: 2px solid black;
    transition: 0.3s background;
    font-family: 'VT323', monospace;
    font-size: x-large;
}
button:hover{
    color: white;
    background: black;
}
button:active{
    background: purple;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;

}
.underline{
    width: 75px;
    height: 5px;
    background: rgb(72, 177, 218);
}

.review{
    margin: 50px 0;
    padding: 20px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: center;
}
.img-container{
    margin-top: 20px;
}
.profile-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 8px -3px 0px 0px rgb(72, 177, 218);


}
#job{
    color: rgb(72, 177, 218);
}
#info{
    line-height: 20px;
}

.prev-btn,
.next-btn{
    background: none;
    border: none;
    padding: 5px;
    width: 30px;
    color: rgb(72, 177, 218);
    transition: 0.3s color;
}
.prev-btn:hover,
.next-btn:hover{
    color: rgb(42, 106, 131);
    background: none;
}

.random-btn{
    width: 150px;
    font-size: medium;
    background: none;
    border-color: rgb(72, 177, 218);
    color: rgb(72, 177, 218);
    transition: 0.3s background;
    border-radius: 10px;
    margin-top: 10px;
}
.random-btn:hover{
    background: rgb(72, 177, 218);
    color: white;
}


@media only screen and (max-width: 900px) {
    .container {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .nav-center{
        flex-direction: column;
        align-items: center;
    }
    .nav-links{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .nav-links li{
        margin-top: 10px;
    }
    .nav-links li a{
        margin-left: 0px;
        padding: 0;
    }
    h2{
        padding: 20px 10px;
        font-size: large;
    }
    button{
        font-size: large;
        width: 100px;
        padding: 10px 5px;
    }
    h4{
        margin: 0;
        margin-bottom: 10px;
    }

}